<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.simplelife.work.dao.IUserDAO">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user (name,age,salary)
        VALUES (#{name}, #{age}, #{salary})
    </insert>

    <delete id="delete">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE user
        SET name=#{name},
            age=#{age},
            salary=#{salary}
        WHERE id = #{id}
    </update>

    <select id="selectOne" resultType="User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="user">
        SELECT *
        FROM user
    </select>
</mapper>